*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}


body{

background:#edf6ff;
color:#333;

}


/* HEADER */

header{

height:70px;
background:#03045E;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 50px;

}


.logo{

display:flex;
align-items:center;
gap:12px;

}


.logo i{

font-size:32px;
color:#90E0EF;

}


.logo h2{

font-size:28px;

}



.profile{

display:flex;
align-items:center;
gap:10px;

font-size:18px;

}


.profile i{

font-size:28px;

}




/* TITLE */


.title-section{

width:90%;
margin:35px auto;

background:linear-gradient(135deg,#03045E,#0077B6);

color:white;

padding:35px;

text-align:center;

border-radius:18px;

}


.title-section h1{

font-size:35px;

margin-bottom:10px;

}





/* SUMMARY */


.summary{

width:90%;
margin:auto;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}


.summary-card{

background:white;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}


.summary-card i{

font-size:35px;

color:#0077B6;

}


.summary-card h2{

color:#03045E;

margin:10px;

}





/* SEARCH */


.search-box{

width:90%;

margin:40px auto 25px;

display:flex;

}


.search-box input{

flex:1;

padding:15px;

border:none;

border-radius:8px 0 0 8px;

font-size:16px;

}



.search-box button{

width:60px;

background:#0077B6;

color:white;

border:none;

}





/* TABLE */


.course-section{

width:90%;
margin:auto;

}


.course-section h2{

color:#03045E;

margin-bottom:20px;

}



.table-container{

overflow-x:auto;

background:white;

border-radius:15px;

}



table{

width:100%;

border-collapse:collapse;

}



th{

background:#023E8A;

color:white;

padding:18px;

}



td{

padding:16px;

text-align:center;

border-bottom:1px solid #ddd;

}



tr:hover{

background:#eef8ff;

}





/* BADGES */


.core{

background:#caf0f8;

padding:6px 15px;

border-radius:20px;

}



.elective{

background:#ffe5b4;

padding:6px 15px;

border-radius:20px;

}



.open{

background:#e4d7ff;

padding:6px 15px;

border-radius:20px;

}



.active{

background:#d8f3dc;

padding:6px 15px;

border-radius:20px;

}





/* BUTTON */


.view-btn{

background:#0077B6;

color:white;

border:none;

padding:8px 18px;

border-radius:20px;

cursor:pointer;

}



.view-btn:hover{

background:#03045E;

}





/* FOOTER */


footer{

margin-top:50px;

background:#03045E;

color:white;

text-align:center;

padding:20px;

}




/* RESPONSIVE */


@media(max-width:900px){

.summary{

grid-template-columns:repeat(2,1fr);

}

}


@media(max-width:600px){

.summary{

grid-template-columns:1fr;

}


header{

padding:0 20px;

}

}